/* usa este fichero para personalizar tus vistas */

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.skinBtn {
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 5px 10px;
  background-repeat: no-repeat;
  background-clip: rect(0px,0px,80px,0px);
  background-size: cover;
  image-rendering: pixelated;
}

.friendship-card {
  width: 210px;
  float: left;
  margin-right: 16px;
}

.hideIfOnlyChild:only-child {
  display: none;
}

.friendship-btn {
  width: 280px;
  height: 55px;
  border-radius: 50px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#chat-area {
  border-radius: 10px;
  padding: 8px;
  outline: 3px solid chocolate;
  background-color: cornsilk;
}

#chat-box {
  width: 90%;
  text-indent: 10px;
}

#chat-btn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: lightcyan;
}
