<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Admin — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Administración</h1>

            <table class="table table-light">
                <thead>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Motivos</th>
                    <th>Estado</th>
                    <th>Moderador</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr th:each="report: ${reports}">
                        <td th:text="${report.id}"></td>
                        <td><a th:href="@{/user/__${report.reportedUser.id}__}" th:text="|${report.reportedUser.username}|" style="text-decoration: none;"></a></td>
                        <td th:text="${report.reasons}">Motivos</td>
                        <td th:text="${report.status.ordinal() == 0} ? 'Enviado' : 'Cerrado'">Status</td>
                        <td th:unless="${report.moderatorUser}">Ninguno</td>
                        <td th:if="${report.moderatorUser}"><a th:href="@{/user/__${report.moderatorUser.id}__}" th:text="|${report.moderatorUser.username}|" style="text-decoration: none;"></td>
                        <td>
                            <div class="btn-group">
                                <button th:classappend="${report.status.ordinal() == 1} ? 'disabled' : ''" class="btn btn-success" th:onclick="ignore([[${report.id}]])">Ignorar</button>
                                <button th:classappend="${report.status.ordinal() == 1} ? 'disabled' : ''" class="btn btn-danger" th:onclick="ban([[${report.id}]])">Bloquear</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:inline="javascript">
      function ignore(id) {
        go("/admin/" + id + "/ignore", "POST").then((d) => {
          location.reload();
        }).catch((e) => {
          console.log("Error: ", e);
        })
      }

      function ban(id) {
        go("/admin/" + id + "/ban", "POST").then((d) => {
          location.reload();
        }).catch((e) => {
          console.log("Error: ", e);
        })
      }
    </script>
</body>

</html>