<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Administración — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Administración</h1>

            <table class="table table-light">
                <thead>
                    <th>ID del reporte</th>
                    <th>Usuario reportado</th>
                    <th>Motivos</th>
                    <th>Estado</th>
                    <th>Moderador</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr th:each="report: ${reports}">
                        <td th:text="${report.id}">Report ID</td>
                        <td th:text="|${report.reportedUser.username} (${report.reportedUser.id})|">Usuario reportado</td>
                        <td th:text="${report.reasons}">Motivos</td>
                        <td th:text="${report.status.ordinal() != 2} ? (${report.status.ordinal() == 0} ? 'Enviado' : 'En proceso') : 'Cerrado'">Status</td>
                        <td th:text="${report.moderatorUser}? |${report.moderatorUser.username} (${report.moderatorUser.id})| : 'Ninguno'">Moderador encargado</td>
                        <td>
                            <div class="btn-group">
                                <button th:classappend="${report.status.ordinal() == 2} ? 'disabled' : ''" class="btn btn-primary">Revisar</button>
                                <button th:classappend="${report.status.ordinal() == 2} ? 'disabled' : ''" class="btn btn-success">Ignorar</button>
                                <button th:classappend="${report.status.ordinal() == 2} ? 'disabled' : ''" class="btn btn-danger">Bloquear</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>