<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Administración — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Administración</h1>

            <table class="table table-light">
                <thead>
                    <th>Usuario</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Usuario 1</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary">Revisar</button>
                                <button class="btn btn-success">Ignorar</button>
                                <button class="btn btn-danger">Bloquear</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Usuario 2</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary">Revisar</button>
                                <button class="btn btn-success">Ignorar</button>
                                <button class="btn btn-danger">Bloquear</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Usuario 3</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary">Revisar</button>
                                <button class="btn btn-success">Ignorar</button>
                                <button class="btn btn-danger">Bloquear</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>