<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Juego - Snakewatch</title>
    <th:block th:replace="fragments/head :: header" />
    <style>
      .wrap {
        width: 80%;
        height: 80%;
        overflow: hidden;
      }

      iframe {
        margin: 0 auto;
        width: 120.66% !important;
        height: 120.66% !important;
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
      }
  </style>
  
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="wrap">
      <!-- Loads Oscar C. snake game from the p5js.com enviroment. DELETE LATER.-->
      <iframe class="frame" src="https://editor.p5js.org/Raaaaac/full/M5GCR9pXN"></iframe>
    </main>
    
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>
