<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Game - Snakewatch</title>
    <th:block th:replace="fragments/head :: header" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="wrap">
      <div id="game-container">
        <canvas id="canvas" style="margin-left: auto; margin-right: auto; display: block;"></canvas>
      </div>
      <div id="finishGameToast" class="toast position-absolute top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" style="display:none;">
        <div class="toast-header">
            <img th:src="@{/img/logo.png}" style="width:30px; height:30px;" class="rounded me-2">
            <strong class="me-auto">Snakewatch</strong>
        </div>
        <div id="finishGameToastBody" class="toast-body row justify-content-around">
          <div id="topScoresDiv" class="row justify-content-around">
            <p class="col-4 text-center fs-5">Top</p>
            <p class="col-4 text-center fs-5">Scores</p>
          </div>
        </div>
      </div>
    </main>


    <script id="matchConstJs" th:inline="javascript">
      const SCRIPTURL = [[@{/js/game/game.js}]];
      const PLAYERS = [[${players}]];
      const NPLAYERS = [[${match.matchPlayers.size}]];
      const ROOM = [[${room.id}]] 
      const ADMIN = [[${admin}]];
      const MATCH = [[${match.id}]];
      const LEVEL = [[${level}]];
      const USERSESSIONAME = [[${session.u.username}]];
      const CLIENTURL = [[@{/rooms/go_to_match/__${match.id}__}]];
    </script>
    
    <script th:if="${admin}" type="module" th:src="@{/js/WebSockets/matchAdmin.js}"></script>

    <script th:unless="${admin}" type="module" th:src="@{/js/WebSockets/matchPlayer.js}"></script>

    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>
