<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Juego - Snakewatch</title>
    <th:block th:replace="fragments/head :: header" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    <main class="wrap">
      <canvas id="canvas" style="margin-left: auto; margin-right: auto; display: block;">
      </canvas>  
    </main>



    <script id="matchConstJs" th:inline="javascript">
      const SCRIPTURL = [[@{/js/game/game.js}]];
      const ROOM = [[${room.id}]] 
      const ADMIN = [[${admin}]];
      const MATCH = [[${match.id}]];
      const USERSESSIONAME = [[${session.u.username}]];
      const CLIENTURL = [[@{/rooms/go_to_match/__${match.id}__/__${room.id}__}]];
    </script>
    
    <script th:if="${admin}" type="module" th:src="@{/js/WebSockets/matchAdmin.js}"></script>

    <script th:unless="${admin}" type="module" th:src="@{/js/WebSockets/matchPlayer.js}"></script>

    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>
