<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Niveles — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            Select Level
            <table class="table table-light">
                <thead>
                  <tr rowspan="1">
                    <th colspan="1">Level Id</th>
                    <th colspan="1">Level Rep</th>
                  </tr>
                </thead>
                <tbody>
                  <tr rowspan="1" th:each="level: ${levels}">
                    <td colspan="1">
                      <a th:href="@{/match/play/__${level.id}__}" th:text="${level.id}">ID</a>
                    </td>
                    <td colspan="1" th:text="${level.representation}">Rep</td>
                  </tr>
                </tbody>
              </table>
        </div>
        
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>