<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Niveles — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            Select Level
            <div th:each="level:${levelMaps}" class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img th:src="@{/img/logo.png}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title" th:text="'Level ' + ${level}"></h5>
                    <form class="card-text text-center" th:action="@{/levels/play/__${level}__}" method="GET">
                      <button id="entry" class="w-50 btn btn-outline-info fs-5" type="submit">Play</button> 
                    </form>
                  </div>
                </div>
                
              </div>
            </div>
        </div>
        
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>