<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>IW: Lobby</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signin" method="post" th:action="@{/lobby}">
                <h2 class="form-signin-heading"><center>SnakeWatch</center></h2>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Play Online</button>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Spectate</button>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Levels</button>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Settings</button>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Rankings</button>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Profile</button>
            </form>
        </div>
        
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>