<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Home — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="text-center" style="margin: 64px 0;">
                <img th:src="@{/img/logo.png}" src="/img/logo.png" alt="Snakewatch" width="28" height="28"
                    class="d-inline-block">
            </div>

            <div class="row">
                <div class="col-4 d-grid">
                    <a class="btn btn-secondary p-5 mb-4" th:href="@{/rooms}">Play online</a>
                </div>
                <div class="col-4 d-grid">
                    <a class="btn btn-secondary p-5 mb-4" th:href="@{/spectate}">Spectate</a>
                </div>
                <div class="col-4 d-grid">
                    <a class="btn btn-secondary p-5 mb-4" th:href="@{/levels}">Levels</a>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-grid">
                    <a class="btn btn-secondary p-5 mb-4" th:href="@{/settings}">Settings</a>
                </div>
                <div class="col-4 d-grid">
                    <a class="btn btn-secondary p-5 mb-4" th:href="@{/ranking/rankings}">Rankings</a>
                </div>
                <div class="col-4 d-grid">
                    <a class="btn btn-secondary p-5 mb-4" th:href="@{/user/}">Profile</a>
                </div>
            </div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />    

</body>

</html>