<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Home — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="text-center" style="margin: 64px 0;">
                <img th:src="@{/img/logo.png}" src="/img/logo.png" alt="Snakewatch" width="28" height="28" class="d-inline-block">
            </div>

            <div class="row">
                <div class="col-4 d-grid">
                    <a class="btn btn-secondary p-5 mb-4" th:href="@{/rooms}">Play online</a>
                </div>
                <div class="col-4 d-grid">
                    <a class="btn btn-secondary p-5 mb-4" th:href="@{/game}">Spectate</a>
                </div>
                <div class="col-4 d-grid">
                    <a class="btn btn-secondary p-5 mb-4" th:href="@{/levels}">Levels</a>
                </div>
            </div>
            <div class="row">
                <div class="col-4 d-grid">
                    <a class="btn btn-secondary p-5 mb-4" th:href="@{/settings}">Settings</a>
                </div>
                <div class="col-4 d-grid">
                    <a class="btn btn-secondary p-5 mb-4" th:href="@{/ranking/rankings}">Rankings</a>
                </div>
                <div class="col-4 d-grid">
                    <a class="btn btn-secondary p-5 mb-4" th:href="@{/user/}">Profile</a>
                </div>
            </div>
        </div>        

        <div class="toast show" style="display: none;">
            <div class="toast-header">
              <strong class="me-auto toast-header-title">Toast Header</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
              <p class="toast-body-text">Some text inside the toast body</p>
            </div>
        </div>

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />


  
    <script>
        function showToast(title, body) {            
            let toastHTML = document.querySelector(".toast");
            
            // Make it visible (remove display = "none")
            toastHTML.style.display = '';

            // Put sender username in the toast title
            toastHTML.querySelector('.toast-header-title').innerHTML = title;
            // Put message content on toast body
            toastHTML.querySelector('.toast-body-text').innerHTML = body;
        
            // Cast it to bootstrap toast and make it show
            let toast = new bootstrap.Toast(toastHTML);
            toast.show();
        }

        document.addEventListener("DOMContentLoaded", () => {
            ws.receive = (text) => {
                showToast("Nuevo mensaje de " + text.from, text.text);
            };        
        });
    
      </script>

</body>
</html>