<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Match — Snakewatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container" id="canvas_container">
            <canvas id="canvas" width="480" height="270" style="border: 1px solid #d3d3d3; background-color: #1b1b1b;
                margin-left: auto; margin-right: auto; display: block;">
            </canvas>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/game/utils.js}" src="/js/game/utils.js"></script>
    <script th:src="@{/js/game/wall.js}" src="/js/game/wall.js"></script>
    <script th:src="@{/js/game/food.js}" src="/js/game/food.js"></script>
    <script th:src="@{/js/game/snake.js}" src="/js/game/snake.js"></script>
    <script th:src="@{/js/game/botSnake.js}" src="/js/game/botSnake.js"></script>
    <script th:src="@{/js/game/main.js}" src="/js/game/main.js"></script>

    <script th:inline="javascript">
        // Get "level_id" variable from thymeleaf into javascript:
        var levelId = [[@{__${ level_id }__}]];
        document.body.onload = startGame(levelId);
    </script>


</body>

</html>