<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Match — Snakewatch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
</head>

<body onload="startGame()">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container" id="canvas_container">
            <canvas id="canvas" width="480" height="270" 
                style="border: 1px solid #d3d3d3; background-color: #f1f1f1;">
            </canvas>

            <br>
            <button onmousedown="accelerate(-0.2)" onmouseup="accelerate(0.05)">ACCELERATE</button>
            <p>Use the ACCELERATE button to stay in the air</p>
            <p>How long can you stay alive?</p>

        </div>

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />

    <script th:src="@{/js/game/food.js}" src="/js/game/food.js"></script>
    <script th:src="@{/js/game/snake.js}" src="/js/game/snake.js"></script>
    <script th:src="@{/js/game/botSnake.js}" src="/js/game/botSnake.js"></script>
    <script th:src="@{/js/game/main.js}" src="/js/game/main.js"></script>

</body>

</html>