<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/head :: header" />
  <title>Usuario — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="fragments/nav.html :: nav"></header>

  <main class="flex-shrink-0">
    <div class="container">

      <span style="display: inline-block; width: 40px; height: 50px;"></span>

      <div>
        <h1 class="col" style="text-align:center"
          th:text="| ${username} &nbsp;&nbsp;&nbsp; ${amigos.size()} amigos &nbsp;&nbsp;&nbsp; ${matches.size()} partidas|">
        </h1>
      </div>

      <span style="display: inline-block; width: 40px; height: 30px;"></span>

      <table class="table table-light">
        <thead>
          <tr rowspan="1">
            <th>Partida</th>
            <th>Resultado</th>
          </tr>
        </thead>
        <tbody>
          <tr rowspan="1" th:each="match: ${matches}">
            <td colspan="1" th:text="${match.id.match.id}"></td>
            <td colspan="1" th:text="| ${match.position} º|"></td>
          </tr>
        </tbody>
      </table>

      <span style="display: inline-block; width: 40px; height: 50px;"></span>

      <table class="table table-light">
        <thead>
          <tr rowspan="1">
            <th colspan="1">Friend's Id</th>
            <th colspan="1">Friend's Username</th>
          </tr>
        </thead>
        <tbody>
          <tr rowspan="1" th:each="amigo: ${amigos}">
            <td colspan="1" th:text="${amigo.id}">ID</td>
            <td colspan="1" th:text="${amigo.username}">Nombre</td>
          </tr>
        </tbody>
      </table>


    </div>
  </main>

  <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>