<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Rankings - Snakewatch</title>
    <th:block th:replace="fragments/head :: header" />
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container-xl">
            <div class="d-flex justify-content-around">
                <button id="boton_global" class="btn btn-lg btn-primary btn-block" onclick="global()">Ranking Global</button>
                <button id="boton_mensual" class="btn btn-lg btn-primary btn-block" onclick="mensual()">Ranking Mensual</button>
                <button id="boton_semanal" class="btn btn-lg btn-primary btn-block" onclick="semanal()">Ranking Semanal</button>
            </div>
            <div class="row">
                <h1 id="titulo_ranking" style="text-align:center">Ranking Global</h1>
            </div>

            <div class="row">
                <table id="tabla_global" class="table table-light">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nombre</th>
                            <th>Victorias</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="r,iterador : ${rankingGlobal}">
                            <td th:text="${iterador.index} + 1">Puesto</td>
                            <td th:text="${r[0]}">Nombre</td>
                            <td th:text="${r[1]}">Victorias</td>
                        </tr>                  
                    </tbody>
            
                </table>

                <table id="tabla_mensual" class="table table-light">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nombre</th>
                            <th>Victorias</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="r,iterador : ${rankingMensual}">
                            <td th:text="${iterador.index} + 1">Puesto</td>
                            <td th:text="${r[0]}">Nombre</td>
                            <td th:text="${r[1]}">Victorias</td>
                        </tr>                  
                    </tbody>
            
                </table>

                <table id="tabla_semanal" class="table table-light">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nombre</th>
                            <th>Victorias</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="r,iterador : ${rankingSemanal}">
                            <td th:text="${iterador.index} + 1">Puesto</td>
                            <td th:text="${r[0]}">Nombre</td>
                            <td th:text="${r[1]}">Victorias</td>
                        </tr>                  
                    </tbody>
            
                </table>
            </div>
              
        </div>
       
        
    </main>
    

    <script th:inline="javascript">

        var titulo_ranking = document.getElementById("titulo_ranking");

        var tabla_global = document.getElementById("tabla_global");

        var tabla_mensual = document.getElementById("tabla_mensual");

        var tabla_semanal = document.getElementById("tabla_semanal");

        tabla_semanal.style.display = "none";
        tabla_mensual.style.display = "none";

        function global(){
            titulo_ranking.innerHTML = "Ranking Global";
            tabla_global.style.display = "table";
            tabla_mensual.style.display = "none";
            tabla_semanal.style.display = "none";
        }


        function mensual(){
            titulo_ranking.innerHTML = "Ranking Mensual";
            tabla_global.style.display = "none";
            tabla_mensual.style.display = "table";
            tabla_semanal.style.display = "none";
        }

        function semanal(){
            titulo_ranking.innerHTML = "Ranking Semanal";
            tabla_global.style.display = "none";
            tabla_mensual.style.display = "none";
            tabla_semanal.style.display = "table";

        }
    </script>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>