<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Rankings - Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="d-flex justify-content-around">
                <div class="dropdown">
                    <button id="rankingTitle" class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Ranking
                    </button>
                      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                        <li id="globalRanking" class="dropdown-item">Global</li>
                        <li id="monthlyRanking" class="dropdown-item">Monthly</li>
                        <li id="weeklyRanking" class="dropdown-item">Weekly</li>
                      </ul>
                </div>
            </div>

            <div class="row">
                <table id="globalTable" class="table table-light">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Name</th>
                            <th>Victories</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="r,iterator : ${globalRanking}">
                            <td th:text="${iterator.index} + 1">Top</td>
                            <td th:text="${r[0]}">Name</td>
                            <td th:text="${r[1]}">Victories</td>
                        </tr>                  
                    </tbody>
            
                </table>

                <table id="mensualTable" class="table table-light">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Name</th>
                            <th>Victories</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="r,iterator : ${monthlyRanking}">
                            <td th:text="${iterator.index} + 1">Top</td>
                            <td th:text="${r[0]}">Name</td>
                            <td th:text="${r[1]}">Victories</td>
                        </tr>                  
                    </tbody>
            
                </table>

                <table id="semanalTable" class="table table-light">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Name</th>
                            <th>Victories</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="r,iterator : ${weeklyRanking}">
                            <td th:text="${iterator.index} + 1">Top</td>
                            <td th:text="${r[0]}">Name</td>
                            <td th:text="${r[1]}">Victories</td>
                        </tr>                  
                    </tbody>
            
                </table>
            </div>
              
        </div>
       
        
    </main>
    

    <script th:src="@{/js/funcionalities/ranking.js}" type="text/javascript"></script>

    <th:block th:replace="fragments/footer.html :: footer"/>
</body>

</html>