<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Rooms — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        
        <div class="container">
            <h1 class="text-center text-white bg-primary bg-gradient bg-opacity-50 shadow">Rooms</h1>           
            <div class="row">
                <div class="card col-12 my-3 px-0 shadow" th:each="r : ${rooms}">
                    <div class="card-header bg-info bg-gradient bg-opacity-75">
                        <h2 class="text-center text-white fst-italic" th:text="'Room ' + ${r.id}"></h2>
                    </div>
                    <div class="card-body bg-secondary bg-gradient bg-opacity-10">
                        <h3 class="card-title text-center text-info" th:each="ru: ${r.roomUsers}" th:if="${ru.admin}" th:text="'Room´s Leader: ' + ${ru.user.username}"></h3> 
                        <p class="card-text text-center fs-4 text-danger" th:text="${r.visibility} + ' Room'"></p>
                        <p class="card-text text-center fs-4 text-warning" th:text="'Players Online: ' + ${r.roomUsers.size} + '/' + ${r.maxUsers}"></p>
                        <form class="card-text text-center" th:action="@{/rooms/__${r.id}__}" method="GET">
                            <button class="w-50 btn btn-outline-info fs-5">Join</button> 
                        </form> 
                    </div>
                    
                </div>
            </div>
        </div>

    </main>


    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>