<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Rooms — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="text-center text-white bg-primary bg-gradient bg-opacity-50 shadow mb-4" th:text="'Room ' + ${room.id}"></h1> 
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Players Online
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul id="playersList" style="list-style: none;"></ul>
                        </div>    
                    </div>
                </div>
            </div> 
            <div class="row justify-content-around" th:each="m : ${matches}">
                <div class="card col-12 my-3 px-0 shadow">
                    <div class="card-header bg-info bg-gradient bg-opacity-50">
                        <h2 class="card-title text-center text-white" th:text="'Match ' + ${m.id}"></h2> 
                        <h3 class="card-title text-center text-white" th:text="${m.date}"></h3>
                    </div>
                    <div class="card-body bg-info bg-gradient bg-opacity-10"> 
                        <div class="row pb-3">
                            <div class="col-12 py-3"> 
                                <h3 class="card-text text-dark text-center">Positions</h3>
                            </div>
                            <div class="col-4" th:each="mp, iterator: ${m.matchPlayers}" th:if="${iterator.index < 3}">
                                <div th:switch="${iterator.index}">
                                    <p th:case="0" class="card-text fs-4 text-center" style="color:goldenrod;" th:text="${iterator.index + 1} + '. ' + ${mp.player.username}"></p>
                                    <p th:case="1" class="card-text fs-4 text-center" style="color:silver;" th:text="${iterator.index + 1} + '. ' + ${mp.player.username}"></p>
                                    <p th:case="2" class="card-text fs-4 text-center" style="color: brown;" th:text="${iterator.index + 1} + '. ' + ${mp.player.username}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>

                <div class="row justify-content-around">
                    <form class="col-4" th:action="@{/rooms/leave_room/__${room.id}__}" method="POST">
                        <button class="w-100 text-center fs-4 btn btn-outline-danger">
                            Leave room
                        </button>
                    </form>
                    

                    <form th:each="ru: ${room.roomUsers}" th:if="${ru.admin and ru.user.username==session.u.username}" class="col-4">
                        <button class="w-100 text-center fs-4 btn btn-outline-success">
                            Begin Match
                        </button>
                    </form>
                    
                </div>


                <div class="toast position-absolute top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" style="display:none;">
                    <div class="toast-header">
                        <img th:src="@{/img/logo.png}" style="width:30px; height:30px;" class="rounded me-2">
                        <strong class="me-auto">Snakewatch</strong>
                         <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <p class="toast-body-text">Some text inside the toast body</p>
                    </div>
                </div>
        </div>
    </main>

    <script th:inline="javascript">
        var G_ROOMURL = "/topic/room" + [[${room.id}]];
        var G_USERSESSION = [[${session.u.username}]];
        var G_ADMIN = [[${admin}]];
    </script>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {

            const messageToSend = {
                from: G_USERSESSION,
                to: G_ROOMURL
            }

            function init(){
                ws.subscribe(G_ROOMURL);
            }


            function sendMessage(){

                var accordionBody = document.getElementById('playersList');
                accordionBody.innerHTML = '';

                if(G_ADMIN == G_USERSESSION){
                   
                    const messageAdmin = {
                            from: G_ADMIN,
                            to: G_ROOMURL
                        }

                    ws.stompClient.send(G_ROOMURL, ws.headers, JSON.stringify(messageAdmin));
                    
                }
                    
            }

            function showToast(text){

                let toastHTML = document.querySelector(".toast");
            
                // Make it visible (remove display = "none")
                toastHTML.style.display = '';
                // Put message content on toast body
                if(text.type=='join'){
                    toastHTML.querySelector('.toast-body-text').innerHTML = text.userJoiner + " joined the game!!!!!!";
                }
                else if(text.type=='leave'){
                    toastHTML.querySelector('.toast-body-text').innerHTML = text.userLeaver + " left the game!!!!!!";
                }
                // Cast it to bootstrap toast and make it show
                let toast = new bootstrap.Toast(toastHTML);
                toast.show();

            }

            setTimeout(init, 100);
         
            setInterval(sendMessage, 5000);

            ws.receive = (text) => {
                    if(text.from=="rooms"){
                        showToast(text);   
                    }
                    else if(text.from==G_ADMIN && text.to==G_ROOMURL){
                        const messageRoomUser = {
                            from: G_USERSESSION,
                            to: G_ADMIN
                        }

                        ws.stompClient.send(G_ROOMURL, ws.headers, JSON.stringify(messageRoomUser));

                    }
                    else if(text.to==G_ADMIN && text.from!=G_USERSESSION){
                        var accordionBody = document.getElementById('playersList');
                        accordionBody.innerHTML += "<li><p>" + text.from + "</p></li>";
                    }
                     
            }
            
        });
    </script>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>
 