<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Rooms — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="text-center text-white bg-primary bg-gradient bg-opacity-50 shadow mb-4" th:text="'Room ' + ${room.id}"></h1> 
            <div class="row justify-content-around" th:each="m : ${matches}">
                <div class="card col-12 my-3 px-0 shadow">
                    <div class="card-header bg-info bg-gradient bg-opacity-50">
                        <h2 class="card-title text-center text-white" th:text="'Match ' + ${m.id}"></h2> 
                        <h3 class="card-title text-center text-white" th:text="${m.date}"></h3>
                    </div>
                    <div class="card-body bg-info bg-gradient bg-opacity-10"> 
                        <div class="row pb-3">
                            <div class="col-12 py-3"> 
                                <h3 class="card-text text-dark text-center">Positions</h3>
                            </div>
                            <div class="col-4" th:each="mp, iterator: ${m.matchPlayers}" th:if="${iterator.index < 3}">
                                <div th:switch="${iterator.index}">
                                    <p th:case="0" class="card-text fs-4 text-center" style="color:goldenrod;" th:text="${iterator.index + 1} + '. ' + ${mp.player.username}"></p>
                                    <p th:case="1" class="card-text fs-4 text-center" style="color:silver;" th:text="${iterator.index + 1} + '. ' + ${mp.player.username}"></p>
                                    <p th:case="2" class="card-text fs-4 text-center" style="color: brown;" th:text="${iterator.index + 1} + '. ' + ${mp.player.username}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>

                <div class="row justify-content-around">
                    <button class="col-4 fs-4 btn btn-outline-danger">
                        Go Back</button>
                    <button th:each="ru: ${room.roomUsers}" th:if="${ru.admin and ru.user.username==session.u.username}" class="col-4 fs-4 btn btn-outline-success">
                        Begin Match</button>
                </div>

        </div>
    </main>


    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>
 