<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Rooms — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="text-center text-white bg-primary bg-gradient bg-opacity-50 shadow mb-4" th:text="'Room ' + ${room.id}"></h1> 

            <div class="card mb-5">
                <div class="card-header bg-info bg-opacity-50">
                    <h1 class="text-center bg-info bg-opacity-10">Last Matches</h1>
                </div>
                <div th:if="${matches.size!=0}" class="card-body bg-primary bg-opacity-10">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-inner">  
                            <div th:each="m, iterator : ${matches}" th:if="${iterator.index==0}" class="carousel-item active">
                                <img th:src="@{/img/logo.png}" class="d-block w-25 h-25">
                                <div class="carousel-caption d-none d-sm-block">
                                    <h4 class="text-center" th:text="'Match ' + ${m.id}"></h4>
                                    <p class="text-center" th:text="${m.date}"></p>
                                    <h5 class="text-center">Winner</h5>
                                    <div th:each="mp, iterator: ${m.matchPlayers}" th:if="${iterator.index < 1}">
                                        <p class="fs-6 text-center" style="color:goldenrod;" th:text="${mp.player.username}"></p>                          
                                    </div>
                                </div>                   
                            </div>
                            <div th:each="m, iterator : ${matches}" th:unless="${iterator.index==0}" class="carousel-item">
                                <img th:src="@{/img/logo.png}" class="d-block w-25 h-25">
                                <div class="carousel-caption d-none d-sm-block">
                                    <h4 class="text-center" th:text="'Match ' + ${m.id}"></h4>
                                    <p class="text-center" th:text="${m.date}"></p>
                                    <h5 class="text-center">Winner</h5>
                                    <div th:each="mp, iterator: ${m.matchPlayers}" th:if="${iterator.index < 1}">
                                            <p class="fs-6 text-center" style="color:goldenrod;" th:text="${mp.player.username}"></p>                          
                                    </div>
                                </div>
                            </div>                   
                        </div>                   
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div th:unless="${matches.size!=0}" class="card-body bg-primary bg-opacity-10">
                    <div id="carouselExampleDarkSize0" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-inner">  
                            <div class="carousel-item active">
                                <img th:src="@{/img/logo.png}" class="d-block w-25 h-25">
                                <div class="carousel-caption d-none d-sm-block">
                                    <h5>No recent Matches</h5>
                                </div>                   
                            </div>                  
                        </div>                   
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDarkSize0" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDarkSize0" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
           

            <div class="d-flex justify-content-center accordion my-5" id="accordionExample">
                <div class="col-4 accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button bg-info text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Players Online
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body p-0">
                            <ul id="playersList" class="list-group"></ul>
                        </div>    
                    </div>
                </div>
            </div>


            <div class="row justify-content-around mt-5">
                <form class="col-3" th:if="${session.u.username!=admin}" th:action="@{/rooms/leave_room/__${room.id}__}" method="POST">
                    <button class="w-100 text-center fs-4 btn btn-outline-danger" type="submit">
                        Leave room
                    </button>
                </form>
                

                <form class="col-3" th:if="${session.u.username==admin}" th:action="@{/rooms/delete_room/__${room.id}__}" method="POST">
                    <button class="w-100 text-center fs-4 btn btn-outline-danger" type="submit">
                        Delete room
                    </button>
                </form>

            
                <button id="editButton" th:if="${session.u.username==admin}" class="col-3 text-center fs-4 btn btn-outline-warning">
                    Edit room
                </button>
            

                <div id="editForm" class="card col-sm-3 my-5 mx-0 px-0 position-absolute top-50 start-50 translate-middle bg-info bg-gradient" style="display: none; border-radius: 15px;">
                    <div class="card-header bg-primary bg-gradient bg-opacity-50">
                        <div class="row justify-content-between">
                            <h2 class="col-8">Edit Room</h2>
                            <button id="closeEditFormButton" type="button" class="btn-close col-2 align-items-center" aria-label="Close"></button>
                        </div>
                       
                    </div>
                    <div class="card-body bg-info bg-gradient">
                        <form th:action="@{/rooms/edit_room/__${room.id}__}" method="POST">
                            <div class="form-group row justify-content-center my-3">
                                <label for="roomVisibility">Choose Room Visibility</label>
                                <select class="form-control w-75" id="roomVisibility" name="roomVisibility">
                                  <option>PUBLIC</option>
                                  <option>PRIVATE</option>
                                </select>
                            </div>
        
                            <div class="form-group row justify-content-center my-3">
                                <label for="maxPlayers">Choose Number of Players (Min. 2, Max. 6)</label>
                                <input class="form-control w-75" type="number" id="maxPlayers" name="maxPlayers" min="2" max="6">
                            </div>
        
                            <div class="form-group row justify-content-center my-3">
                                <button class="form-control w-50 btn btn-outline-dark" type="submit">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
                

             
                <button id="sendInvitationsButton" th:if="${session.u.username==admin}" class="col-3 text-center fs-4 btn btn-outline-success">
                    Send Invitations
                </button>
             
                
            </div>


            <div id="joinAndLeaveRoomToast" class="toast position-absolute top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" style="display:none;">
                <div class="toast-header">
                    <img th:src="@{/img/logo.png}" style="width:30px; height:30px;" class="rounded me-2">
                    <strong class="me-auto">Snakewatch</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    <p class="toast-body-text">Some text inside the toast body</p>
                </div>
            </div>

            <div id="acceptAndRejectMatchToast" class="toast position-absolute top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="15000" style="display:none;">
                <div class="toast-header">
                    <img th:src="@{/img/logo.png}" style="width:30px; height:30px;" class="rounded me-2">
                    <strong class="me-auto">Snakewatch</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body row justify-content-around">
                    <p class="col-12 fs-5">Do you want to play a match?</p>
                    <button id="rejectMatchInvitationButton" class="col-4 btn btn-outline-danger">Reject</button>
                    <button id="acceptMatchInvitationButton" class="col-4 btn btn-outline-success ">Accept</button>
                </div>
            </div>


            <div id="waitingPlayersToast" class="toast position-absolute top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" style="display:none;">
                <div class="toast-header">
                    <img th:src="@{/img/logo.png}" style="width:30px; height:30px;" class="rounded me-2">
                    <strong class="me-auto">Snakewatch</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body row justify-content-center">
                    <div class="spinner-border text-info" role="status"></div>
                    <p class="text-center text-info fs-5">Waiting for players...</p>
                    <p id="numberOfPlayersReady" class="text-center text-info fs-5 mb-0"></p>
                    <ul id="playersReady"class="list-group list-group-sm text-center" style="list-style:none;"></ul>
                    <button class="w-50 btn btn-outline-info text-center my-2 fs-5">Start Match</button>
                </div>
            </div>

            <div id="waitingAdminToast" class="toast position-absolute top-50 start-50 translate-middle" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false" style="display:none;">
                <div class="toast-header">
                    <img th:src="@{/img/logo.png}" style="width:30px; height:30px;" class="rounded me-2">
                    <strong class="me-auto">Snakewatch</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body row justify-content-center">
                    <div class="spinner-border text-info" role="status"></div>
                    <p class="text-center text-info fs-5">Waiting start match...</p>
                </div>
            </div>
        </div>
    </main>

    <script th:inline="javascript">
        const ROOMURL = "/topic/room" + [[${room.id}]];
        const USERSESSIONAME = [[${session.u.username}]];
        const ADMINAME = [[${admin}]];
        const MAXROOMPLAYERS = [[${room.maxUsers}]]
    </script>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {

            var playersOnlineNames = [];

            var gamePlayersNames = [ADMINAME];


            function init(){
                ws.subscribe(ROOMURL);
                setInterval(sendMessage, 1000);
                setInterval(actualizeList, 2000);
            }

            function sendMessage(){
                const messageUser = {
                    from: USERSESSIONAME,
                    to: ROOMURL,
                    type: "playerOnline"
                }

                ws.stompClient.send(ROOMURL, ws.headers, JSON.stringify(messageUser));        
                
            }

            function actualizeList(){
                var accordionBody = document.getElementById('playersList');
                accordionBody.innerHTML = '';
                for(var i=0;i<playersOnlineNames.length;i++){
                    accordionBody.innerHTML+= "<li class='list-group-item text-center bg-info bg-opacity-25'><p>" + playersOnlineNames[i] + "</p></li>";
                }
                playersOnlineNames.splice(0, playersOnlineNames.length);
            }


            var editButton = document.getElementById('editButton');
            var editForm = document.getElementById('editForm');

            if(editButton){
                editButton.onclick = () => {          
                    editForm.style.display = 'block';        
                }
            }
            

            var closeEditFormButton = document.getElementById('closeEditFormButton');

            if(closeEditFormButton){
                closeEditFormButton.onclick = () => {
                    editForm.style.display = 'none';
                }
            }
            

            var sendInvitationsButton = document.getElementById('sendInvitationsButton');

            if(sendInvitationsButton){
                sendInvitationsButton.onclick = () => {
                    const messageAdmin = {
                        from: ADMINAME,
                        to: ROOMURL,
                        type: "matchInvitation"
                    }

                    ws.stompClient.send(ROOMURL, ws.headers, JSON.stringify(messageAdmin));


                    var toastHTML = document.getElementById('waitingPlayersToast');
                    var numberOfPlayersReady = document.getElementById('numberOfPlayersReady');
                    var playersReady = document.getElementById('playersReady');
                    toastHTML.style.display = '';

                    gamePlayersNames = [ADMINAME];
                    
                    playersReady.innerHTML = "<li class='list-group-item text-primary border-0 p-0 fs-5 bg-transparent'>" + gamePlayersNames[0] + "</li>";
                    
                    numberOfPlayersReady.innerHTML = gamePlayersNames.length + "/" +  MAXROOMPLAYERS   + " Players Ready";

                    var toast = new bootstrap.Toast(toastHTML);
                    toast.show(); 

                }
            }

            var acceptMatchInvitationButton = document.getElementById('acceptMatchInvitationButton');
            var rejectMatchInvitationButton = document.getElementById('rejectMatchInvitationButton');
            var acceptAndRejectMatchToast = document.getElementById('acceptAndRejectMatchToast');

            if(acceptMatchInvitationButton){
                acceptMatchInvitationButton.onclick = () => {
                    acceptAndRejectMatchToast.style.display = 'none';

                    const messageAcceptMatch = {
                        from: USERSESSIONAME,
                        to: ADMINAME,
                        type: "acceptMatchInvitation"
                    }

                    ws.stompClient.send(ROOMURL, ws.headers, JSON.stringify(messageAcceptMatch));

                    var toastHTML = document.getElementById('waitingAdminToast');

                    toastHTML.style.display = '';

                    var toast = new bootstrap.Toast(toastHTML);
                    toast.show(); 
                }
            }

            if(rejectMatchInvitationButton){
                rejectMatchInvitationButton.onclick = () => {
                    acceptAndRejectMatchToast.style.display = 'none';
                }
            }

            function showToast(text){

                var toastHTML = document.getElementById('joinAndLeaveRoomToast');
            
                // Make it visible (remove display = "none")
                toastHTML.style.display = '';
                // Put message content on toast body
                if(text.type=='join'){
                    toastHTML.querySelector('.toast-body-text').innerHTML = text.userJoiner + " joined the game!!!!!!";
                }
                else if(text.type=='leave'){
                    toastHTML.querySelector('.toast-body-text').innerHTML = text.userLeaver + " left the game!!!!!!";
                }
                // Cast it to bootstrap toast and make it show
                var toast = new bootstrap.Toast(toastHTML);
                toast.show();

            }

            setTimeout(init, 100);

            ws.receive = (text) => {
                    if(text.from=="rooms"){
                        showToast(text);
                    }
                    if(text.to==ROOMURL && text.type=="playerOnline"){
                        if(playersOnlineNames.indexOf(text.from)==-1){
                            playersOnlineNames.push(text.from);
                        }
                    }
                    if(ADMINAME!=USERSESSIONAME && text.to==ROOMURL && text.type=="matchInvitation"){          
                        var toastHTML = document.getElementById('acceptAndRejectMatchToast');
                        toastHTML.style.display = 'block';
                        var toast = new bootstrap.Toast(toastHTML);
                        toast.show();                  
                    }
                    if(ADMINAME==USERSESSIONAME && text.to==ADMINAME && text.type=="acceptMatchInvitation"){
                        
                        var numberOfPlayersReady = document.getElementById('numberOfPlayersReady');
                        var playersReady = document.getElementById('playersReady');

                        if(gamePlayersNames.indexOf(text.from)==-1){
                            gamePlayersNames.push(text.from);
                            playersReady.innerHTML += "<li class='list-group-item text-primary p-0 border-0 fs-5 bg-transparent'>" + text.from + "</li>";
                            numberOfPlayersReady.innerHTML = gamePlayersNames.length + "/" +  MAXROOMPLAYERS   + " Players Ready";
                        }

                    }
                    
            }
            
        });
    </script>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>
 