<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Rooms — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        
        <div class="container">
            <h1 class="text-center text-white bg-primary bg-gradient bg-opacity-50 shadow">Rooms</h1>           
            <div class="row justify-content-center">
                <div class="card col-12 my-3 px-0 shadow" th:each="r : ${roomsInfo}">
                    <div class="card-header bg-info bg-gradient bg-opacity-75">
                        <h2 class="text-center text-white fst-italic" th:text="'Room ' + ${r[0].id}"></h2>
                    </div>
                    <div class="card-body bg-secondary bg-gradient bg-opacity-10">
                        <h3 class="card-title text-center text-info" th:each="ru: ${r[0].roomUsers}" th:if="${ru.admin}" th:text="'Room´s Leader: ' + ${ru.user.username}"></h3> 
                        <p class="card-text text-center fs-4 text-danger" th:text="${r[0].visibility} + ' Room'"></p>
                        <p class="card-text text-center fs-4 text-warning" th:text="'Players Online: ' + ${r[0].roomUsers.size} + '/' + ${r[0].maxUsers}"></p>
                        <form th:if="${not r[1]}" class="card-text text-center" th:action="@{/rooms/join/__${r[0].id}__}" method="GET">
                            <button id="join" class="w-50 btn btn-outline-info fs-5" type="submit">Join</button> 
                        </form> 
                        <form th:if="${r[1]}"class="card-text text-center" th:action="@{/rooms/__${r[0].id}__}" method="GET">
                            <button id="entry" class="w-50 btn btn-outline-info fs-5" type="submit">Entry</button> 
                        </form>
                    </div>
                    
                </div>

                <div class="row justify-content-center">
                    <form class="col-4 text-center" th:action="@{/rooms/create_room}" method="POST">
                        <button class="w-100 btn btn-outline-success fs-5" type="submit">Create Room</button>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>