<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Skins — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-center text-white bg-primary bg-gradient bg-opacity-50 shadow mb-4">Skins</h1>
            </div>
            <div class="row justify-content-center">
                <div id="game-area">
                    <h2 id="skinName" class="text-center fs-1 text-secondary bg-info bg-gradient bg-opacity-50 m-0 p-0 shadow-sm"></h2>
                    <div id="game-container">
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button th:each="skin: ${skins}" class="btn-sm btn-info skinBtn" th:onmouseover="changeSkin([[${skin}]])" th:onmouseout="changeSkin()" th:onclick="saveSkin([[${skin}]])" th:style="'background-image: url(/img/Skins/' + ${skin} + ')'"></button>
            </div>
        </div>
    </main>

    <script th:inline="javascript">
        const SKINS = [[${skins}]];
        const PLAYERSKIN = [[${playerSkin}]];
    </script>

    <script type="text/javascript" th:src="@{/js/game/phaser.js}"></script>
    <script type="text/javascript" th:src="@{/js/game/skinViewer.js}"></script>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>