<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Skins — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="text-center text-white bg-primary bg-gradient bg-opacity-50 shadow mb-4">Skins</h1> 
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-inner">   
                        <div th:id="${skin}" class="carousel-item active">
                            <h2 id="skinName" class="text-center fs-1 text-secondary bg-info bg-gradient bg-opacity-50 m-0 p-0 shadow-sm"></h2>
                            <canvas id="canvas"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button th:each="skin: ${skins}" class="btn-sm btn-info skinBtn" th:onmouseover="changeSkin([[${skin}]])" th:onmouseout="changeSkin()" th:onclick="saveSkin([[${skin}]])" th:style="'background-image: url(/img/Skins/' + ${skin} + ')'"></button>
            </div>
        </div>
    </main>

    <script th:inline="javascript">
        const SKINS = [[${skins}]];
        const PLAYERSKIN = [[${playerSkin}]];
    </script>

    
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>

    <script>
        let savedSkin = PLAYERSKIN;
        let skinAnimationDiv = document.getElementById("skinName").innerHTML = PLAYERSKIN.split('.')[0] + ' skin';
        const game = new Phaser.Game({
            type: Phaser.CANVAS,
            canvas: document.getElementById('canvas'),
            scale: {
                mode: Phaser.Scale.CENTER_BOTH,
                width: 250,
                height: 100,
                fullscreenTarget: 'canvas'
            },
            backgroundColor: '#E6FFFF',
            pixelArt: true,
            scene: {
                preload: preload,
                create: create,
                update: update
            },
            physics: {
                default: 'arcade',
                arcade: {
                    gravity: { y: 0 },
                    debug: false
                }
            }
        });

        function preload() {
            for (let i = 0; i < SKINS.length; i++) {
                this.load.spritesheet(SKINS[i].split('.')[0], '/img/Skins/' + SKINS[i], { frameWidth: 20, frameHeight: 20 });
            }
        }

        function create() {
            this.parts = []
            let selected = PLAYERSKIN.split('.')[0];

            this.parts.push(this.add.sprite(70, 50, selected, 0));
            this.parts.push(this.add.sprite(50, 50, selected, 1));
            this.parts.push(this.add.sprite(30, 50, selected, 1));
            this.parts.push(this.add.sprite(10, 50, selected, 3));

            this.parts.forEach((part) => part.setAngle(90), this);

            let timer = this.time.addEvent({
                delay: 1500,
                callback: () => this.parts[0].setFrame(this.parts[0].frame.name === 0 ? 4 : 0),
                callbackScope: this,
                loop: true
            })

            this.registry.set('selectedSkin', PLAYERSKIN);
            this.registry.events.on('changedata-selectedSkin', () => updateSkin(game.registry.values.selectedSkin.split('.')[0], this.parts), this);
        }

        function update() {
            moveSnake(this.parts, 2);
        }

        function moveSnake(snake, speed) {
            snake.forEach((part) => {
                part.x += speed;
                if((part.x) > game.scale.width){
                    part.x = -20;
                }
            }, this);
        }

        function changeSkin(skin = savedSkin) {
            game.registry.values.selectedSkin = skin;
        }

        function updateSkin(skin, parts) {
            parts.forEach((part) => {
                part.setTexture(skin, part.frame.name)
            }, this);
        }

        function saveSkin(skin) {
            go("/skins/change_skin/" + skin, "POST").then((d) => {
                savedSkin = d.skin;
                changeSkin();
            }).catch((e) => {
                console.log("Error: ", e);
            })
        }
    </script>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>