<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title>Spectate — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>

    <main class="flex-shrink-0">
        
        <div class="container">
            <h1 class="text-center text-white bg-primary bg-gradient bg-opacity-50 shadow">Ongoing Matches</h1>           
            <div id = "matchcontainer" class="row justify-content-center">
                <div id = "divemptymatches">
                    <h2  class="text-center text-black fst-italic"> No ongoing matches to you</h2>
                </div>

            </div>
        </div>

    </main>

    <script th:src="@{/js/WebSockets/spectate.js}"></script>
    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>