<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/head :: header" />
  <title>Profile — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="fragments/nav.html :: nav"></header>

  <main class="flex-shrink-0">
    <div class="container">
      <ul class="nav nav-tabs nav-justified bg-info bg-gradient bg-opacity-50 border-bottom border-5 my-2"
        id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active fs-4 text-black" id="pills-player-tab" data-bs-toggle="pill"
            data-bs-target="#pills-player" type="button" role="tab" aria-controls="pills-player"
            aria-selected="true">Player</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link fs-4 text-black" id="pills-matches-tab" data-bs-toggle="pill"
            data-bs-target="#pills-matches" type="button" role="tab" aria-controls="pills-matches"
            aria-selected="false">Matches</button>
        </li>
        <li th:if="${isOwnProfile}" class="nav-item" role="presentation">
          <button class="nav-link fs-4 text-black" id="pills-friends-tab" data-bs-toggle="pill"
            data-bs-target="#pills-friends" type="button" role="tab" aria-controls="pills-friends"
            aria-selected="false">Friends</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link fs-4 text-black" id="pills-rooms-tab" data-bs-toggle="pill"
            data-bs-target="#pills-rooms" type="button" role="tab" aria-controls="pills-rooms"
            aria-selected="false">Rooms</button>
        </li>
      </ul>

      <div class="tab-content" id="pills-tabContent">

        <div class="tab-pane fade show active" id="pills-player" role="tabpanel" aria-labelledby="pills-player-tab">
          <div class="row card justify-content-md-center pb-3 mb-5 my-3"
            style="outline: 3px solid burlywood; background-color: bisque;">

            <div class="row">
              <div class="col-4">
                <div class="text-center mt-4 mb-1">
                  <img class="rounded-circle" style="width: 250px; height: 250px;"
                    th:src="@{/user/{id}/pic(id=${user.id})}">
                </div>
                <h1 class="text-center mt-2">
                  <b th:text="${user.username}"></b>
                </h1>
                <div th:if="${isOwnProfile}" class="mt-3 mb-1" style="text-align: center;">
                  <form th:action="@{/user/__${user.id}__/pic}" method="POST" enctype="multipart/form-data">
                    <input style="display:none;" id="files" type="file" name="photo" accept="image/jpeg,image/png"
                      onchange="javascript:this.form.submit();">
                    <label for="files" class="py-1 px-3"
                      style="outline: 3px solid darkturquoise;border-radius: 50px;background: aliceblue;">Cambiar
                      imagen</label>
                  </form>
                </div>
              </div>

              <div class="col-4" style="margin-top: auto; margin-bottom: auto;">
                <div class="text-center m-4">
                  <img style="width: 110px; height: 110px;" src="/img/friends.png">
                </div>
                <h2 class="text-center" th:text="| ${friendships.size()} Amigos|">Amigos</h2>
              </div>

              <div class="col-4" style="margin-top: auto; margin-bottom: auto;">
                <div class="text-center m-4">
                  <img style="width: 130px; height: 130px;" src="/img/videogame.png">
                </div>
                <h2 class="text-center" th:text="| ${matchPlayers.size()} Partidas|">partidas</h2>
              </div>
            </div>

            <div class="row mt-4" th:if="${not isOwnProfile}">
              <div class="col-4 text-center my-auto">
                <p id="friendship-loading"> Cargando... </p>
                <button id="fr-send" class="btn btn-primary friendship-btn"
                  th:onclick="updateFriendship([[${user.id}]],'send_req')" style="display: none;">
                  <b>Solicitar amistad</b>
                </button>
                <button id="fr-cancel" class="btn btn-danger friendship-btn"
                  th:onclick="updateFriendship([[${user.id}]],'cancel_req')" style="display: none;">
                  <b>Cancelar solicitud de amistad</b>
                </button>
                <button id="fr-accept" class="btn btn-success friendship-btn"
                  th:onclick="updateFriendship([[${user.id}]],'accept_req')" style="display: none;">
                  <b>Aceptar solicitud de amistad</b>
                </button>
                <button id="fr-finish" class="btn btn-warning friendship-btn"
                  th:onclick="updateFriendship([[${user.id}]],'finish')" style="display: none;">
                  <b>Dejar de ser amigos</b>
                </button>
              </div>

              <div class="col-8">
                <div id="chat-area" class="card-body text-center d-flex" method="POST">
                  <input type="text" id="chat-box" placeholder="Envía un mensaje a este usuario" />
                  <button id="chat-btn" class="btn btn-secondary mx-auto" th:onclick="sendMsg()">
                    <img style="width: 30px; height: 30px;" src="/img/send.png">
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div th:if="${!isOwnProfile}" class="col-8 w-100" style="text-align: right;">
            <button id="report-btn" class="btn btn-danger friendship-btn">
              <b>Report</b>
            </button>
            <div class="container">
              <div class="row">
                <div class="col col-sm-12">
                  <div class="modal" data-keyboard="false" data-backdrop="static" id="myModal" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Report</h4>
                          <button id="closeModal" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Report Message" id="reportmessage"/>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-primary" th:onclick="report()">Send</button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-matches" role="tabpanel" aria-labelledby="pills-matches-tab">

          <div class="row justify-content-center">
            <div th:each="matchPlayer: ${matchPlayers}"
              class="card col-10 mb-3 shadow bg-info bg-gradient bg-opacity-10 px-0 mx-0 my-2">
              <div class="row g-0 justify-content-around">
                <div class="col-md-3 bg-primary bg-gradient bg-opacity-50" style="display: table;">
                  <div style="display: table-cell; vertical-align: middle;">
                    <h3 class="text-white text-center" th:text="| Match ${matchPlayer.match.id} |"></h3>
                    <h4 class="text-white text-center" th:text="| Room ${matchPlayer.match.room.id} |"></h4>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="card-body w-100">
                    <div class="row justify-content-around">
                      <div class="col">
                        <p class="text-center fs-5">Position</p>
                        <p class="text-center fs-5" th:text="${matchPlayer.position} + 'º'"></p>
                      </div>
                      <div class="col">
                        <p class="text-center fs-5">Participants</p>
                        <div class="text-center">
                          <a class="fs-5" th:each="matchPlayerOthers: ${matchPlayer.match.getMatchPlayers()}"
                            th:href="@{/user/__${matchPlayerOthers.player.id}__}"
                            th:text="| ${matchPlayerOthers.player.username} |"
                            style="margin-right: 16px; text-decoration: none;"></a>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div th:if="${isOwnProfile}" class="tab-pane fade" id="pills-friends" role="tabpanel"
          aria-labelledby="pills-friends-tab">
          <div id="requests-block">
            <h3 class="mt-4 mb-4 hideIfOnlyChild">Friend Requests</h3>
            <th:block th:each="request: ${friendRequests}" th:with="user=${request.user1}"
              th:insert="fragments/friendship.html :: request-card" />
          </div>

          <div style="clear: both;"></div>

          <div id="friends-block">
            <h3 class="mt-4 mb-4 hideIfOnlyChild">Friends</h3>
            <th:block th:each="friendship: ${friendships}" th:with="user=${friendship.user2}"
              th:insert="fragments/friendship.html :: card" />
          </div>
        </div>

        <div class="tab-pane fade" id="pills-rooms" role="tabpanel" aria-labelledby="pills-rooms-tab">
          <div class="table-responsive">
            <table class="table table-hover caption-top shadow fs-5">
              <caption>Rooms</caption>
              <thead class="table-primary">
                <tr rowspan="1">
                  <th colspan="1">Room Id</th>
                  <th colspan="1">Room Privacy</th>
                  <th colspan="1">Room Users</th>
                </tr>
              </thead>
              <tbody class="table-info">
                <tr rowspan="1" th:each="room: ${rooms}">
                  <td colspan="1">
                    <a th:href="@{/rooms/__${room.id}__}" th:text="${room.id} |" style="text-decoration: none;">ID</a>
                  </td>
                  <td colspan="1" th:text="${room.visibility}">Privacy</td>

                  <td th:each="participant: ${room.getUsers()}">
                    <a th:href="@{/user/__${participant.id}__}" th:text="| ${participant.username} |"
                      style="text-decoration: none;"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </main>

  <th:block th:replace="fragments/footer.html :: footer" />

  <script th:inline="javascript">
    const USER_ID = [[${ user.id }]];
  </script>

  <script th:if="${not isOwnProfile}" th:src="@{/js/funcionalities/otherUser.js}"></script>

  <script th:if="${isOwnProfile}" th:src="@{/js/funcionalities/userSession.js}"></script>
</body>

</html>