<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/head :: header" />
  <title>Perfil — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="fragments/nav.html :: nav"></header>

  <main class="flex-shrink-0">
    <div class="container">

      <div class="row mt-5 mb-2">
        <div class="col text-center">
          <img class="rounded-circle" style="width: 64px; height: 64px;" th:src="@{/user/{id}/pic(id=${session.u.id})}">
        </div>
      </div>

      <div class="row mb-4">
        <div class="col text-center">
          <h1 th:text="${user.username}"></h1>
        </div>
      </div>

      <div class="row mb-4 justify-content-md-center" th:if="${not isOwnProfile}">
        <div class="col-6">
          <div class="card">
            <div class="card-body text-center">
              <div class="d-flex justify-content-around">
                <div>

                  <!-- temporary message while loading info -->
                  <p id="friendship-loading"> Cargando... </p>

                  <!-- Usuario loggeado y "user" no son amigos todavia: enviar solicitud -->
                  <form th:action="@{/friendship/send_req/__${user.id}__/}" method="POST">
                    <button id="friendship-send-button" class="btn btn-secondary" type="submit" style="display: none;">Solicitar amistad</button>
                  </form>

                  <!-- Usuario loggeado ha enviado solicitud a "user": permitir cancelarla -->
                  <form th:action="@{/friendship/cancel_req/__${user.id}__/}" method="POST">
                    <button id="friendship-request-cancel-button" class="btn btn-secondary" type="submit" style="display: none;">Cancelar solicitud de
                      amistad enviada</button>
                  </form>

                  <!-- "user" ha enviado una solicitud a usuario loggeado: permitir aceptarla -->
                  <form th:action="@{/friendship/accept_req/__${user.id}__/}" method="POST">
                    <button id="friendship-request-accept-button" class="btn btn-success" type="submit" style="display: none;">Aceptar solicitud de
                      amistad</button>
                  </form>

                  <!-- Usuario loggeado y "user" son amigos: permitir acabar la amistad -->
                  <form th:action="@{/friendship/finish/__${user.id}__/}" method="POST">
                    <button id="friendship-finish-button" class="btn btn-light" type="submit" style="display: none;">Dejar de ser amigos</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <form th:if="${not isOwnProfile}" th:action="@{/user/__${user.id}__/msg}" method="POST">
        <input type="text" id="message" placeholder="escribe a este usuario" />
        <button id="sendmsg" class="btn btn-secondary" type="submit">Enviar</button>
      </form>

      <div class="row justify-content-md-center">
        <div class="col-3">
          <div class="card">
            <div class="card-body text-center">
              <p th:text="${friendships.size()}"></p>
              amigos
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card">
            <div class="card-body text-center">
              <p th:text="${matchPlayers.size()}"></p>
              partidas
            </div>
          </div>
        </div>
      </div>

      <h3>Partidas</h3>

      <table class="table table-light">
        <thead>
          <tr>
            <th>Partida</th>
            <th>Sala</th>
            <th>Resultado</th>
            <th>Participantes</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="matchPlayer: ${matchPlayers}">
            <td th:text="| # ${matchPlayer.match.id} |"></td>
            <td th:text="| ${matchPlayer.match.room.id} |"></td>
            <td th:text="| ${matchPlayer.position} º|"></td>
            <td th:each="matchPlayerOthers: ${matchPlayer.match.getMatchPlayers()}">
              <a th:href="@{/user/__${matchPlayerOthers.player.id}__}"
                th:text="| ${matchPlayerOthers.player.username} |"></a>
            </td>
          </tr>
        </tbody>
      </table>

      <span style="display: inline-block; width: 40px; height: 50px;"></span>

      <h3 th:if="${isOwnProfile}">Solicitudes de amistad recibidas</h3>

      <table th:if="${isOwnProfile}" class="table table-light">
        <thead>
          <tr rowspan="1">
            <th colspan="1">Friend Request Id</th>
            <th colspan="1">Sender Id</th>
            <th colspan="1">Sender Username</th>
            <th colspan="1">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr rowspan="1" th:each="request: ${friendRequests}">
            <td colspan="1" th:text="${request.id}">ID</td>
            <td colspan="1" th:text="${request.user1.id}">Nombre</td>
            <td colspan="1">
              <a th:href="@{/user/__${request.user1.id}__}" th:text="| ${request.user1.username} |"></a>
            </td>
            <td colspan="1">
              <form th:action="@{/friendship/accept_req/__${request.user1.id}__/}" method="POST">
                <button id="accept_friend_req" class="btn btn-secondary" type="submit">Aceptar</button>
              </form>
              <form th:action="@{/friendship/reject_req/__${request.user1.id}__/}" method="POST">
                <button id="reject_friend_req" class="btn btn-secondary" type="submit">Rechazar</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

      <h3 th:if="${isOwnProfile}">Amigos</h3>

      <table th:if="${isOwnProfile}" class="table table-light">
        <thead>
          <tr rowspan="1">
            <th colspan="1">Friend Id</th>
            <th colspan="1">Friend Username</th>
          </tr>
        </thead>
        <tbody>
          <tr rowspan="1" th:each="friendship: ${friendships}">
            <td colspan="1" th:text="${friendship.user2.id}">ID</td>
            <td colspan="1">
              <a th:href="@{/user/__${friendship.user2.id}__}" th:text="| ${friendship.user2.username} |"></a>
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Salas de juego</h3>

      <table class="table table-light">
        <thead>
          <tr rowspan="1">
            <th colspan="1">Room Id</th>
            <th colspan="1">Room Privacy</th>
            <th colspan="1">Room Users</th>
          </tr>
        </thead>
        <tbody>
          <tr rowspan="1" th:each="roomUser: ${roomUsers}">
            <td colspan="1" th:text="${roomUser.room.id}">ID</td>
            <td colspan="1" th:text="${roomUser.room.visibility}">Privacy</td>

            <td th:each="participant: ${roomUser.room.getRoomUsers()}">
              <a th:href="@{/user/__${participant.user.id}__}" th:text="| ${participant.user.username} |"></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </main>

  <th:block th:replace="fragments/footer.html :: footer" />

  <script th:inline="javascript">
    var G_FRIENDSHIP_STATE_URL = [[@{/friendship/state/__${user.id}__/}]];
  </script>

  <script th:if="${not isOwnProfile}">
    document.addEventListener("DOMContentLoaded", () => {

      // envio de mensajes con AJAX
      let b = document.getElementById("sendmsg");
      b.onclick = (e) => {
        e.preventDefault();
        go(b.parentNode.action, 'POST', {
          message: document.getElementById("message").value
        })
          .then(d => console.log("happy", d))
          .catch(e => console.log("sad", e))
      }

      let frLoadingMessage = document.getElementById("friendship-loading");
      let frSendButton = document.getElementById("friendship-send-button");
      let frCancelButton = document.getElementById("friendship-request-cancel-button");
      let frAcceptButton = document.getElementById("friendship-request-accept-button");
      let frFinishButton = document.getElementById("friendship-finish-button");

      function hideAll() {
        frLoadingMessage.style.display = 'none';
        frSendButton.style.display = 'none';
        frCancelButton.style.display = 'none';
        frAcceptButton.style.display = 'none';
        frFinishButton.style.display = 'none';
      }

      // Get friendship status and show corresponding button
      go(G_FRIENDSHIP_STATE_URL, 'POST', {})
        .then(d => {
          hideAll();

          if (d.result === "friends") {
            frFinishButton.style.display = 'inline-block';
          }
          else if (d.result === "request sent") {
            frCancelButton.style.display = 'inline-block';
          }
          else if (d.result === "request received") {
            frAcceptButton.style.display = 'inline-block';
          }
          else {
            frSendButton.style.display = 'inline-block';
          }
        })
        .catch(e => {
          hideAll();
          console.log("Error loading friendship status", e)
        })


      // Accion de frSendButton: envio de solicitudes de amistad
      frSendButton.onclick = (e) => {
        e.preventDefault();
        go(frSendButton.parentNode.action, 'POST', {})
          .then(d => {
            hideAll();
            frCancelButton.style.display = 'inline-block';
          })
          .catch(e => console.log("sad", e))
      }

      // Accion de frCancelButton: cancelar solicitud de amistad enviada
      frCancelButton.onclick = (e) => {
        e.preventDefault();
        go(frCancelButton.parentNode.action, 'POST', {})
          .then(d => {
            hideAll();
            frSendButton.style.display = 'inline-block';
          })
          .catch(e => console.log("sad", e))
      }

      // Accion de frAcceptButton: aceptar solicitud de amistad recibida
      frAcceptButton.onclick = (e) => {
        e.preventDefault();
        go(frAcceptButton.parentNode.action, 'POST', {})
          .then(d => {
            hideAll();
            frFinishButton.style.display = 'inline-block';
          })
          .catch(e => console.log("sad", e))
      }

      // Accion de frFinishButton: eliminar amigo
      frFinishButton.onclick = (e) => {
        e.preventDefault();
        go(frFinishButton.parentNode.action, 'POST', {})
          .then(d => {
            hideAll();
            frSendButton.style.display = 'inline-block';
          })
          .catch(e => console.log("sad", e))
      }
    
    });

  </script>
</body>

</html>