<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/head :: header" />
  <title>Profile — Snakewatch</title>
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="fragments/nav.html :: nav"></header>

  <main class="flex-shrink-0">
    <div class="container">

      <div class="row card justify-content-md-center pb-3 mb-5" style="outline: 3px solid burlywood; background-color: bisque;">

        <div class="row">
          <div class="col-4" >
            <div class="text-center mt-4 mb-1">
              <img class="rounded-circle" style="width: 250px; height: 250px;" th:src="@{/user/{id}/pic(id=${user.id})}">
            </div>
            <h1 class="text-center mt-2">
              <b th:text="${user.username}"></b>
            </h1>
          </div>

          <div class="col-4" style="margin-top: auto; margin-bottom: auto;">
            <div class="text-center m-4">
              <img style="width: 110px; height: 110px;" src="/img/friends.png">
            </div>
            <h2 class="text-center" th:text="| ${friendships.size()} Amigos|">Amigos</h2>
          </div>     
          
          <div class="col-4" style="margin-top: auto; margin-bottom: auto;">
            <div class="text-center m-4">
              <img style="width: 130px; height: 130px;" src="/img/videogame.png">
            </div>
            <h2 class="text-center" th:text="| ${matchPlayers.size()} Partidas|">partidas</h2>
          </div>
        </div>

        <div class="row mt-4" th:if="${not isOwnProfile}">
          <div class="col-4 text-center" style="margin-top: auto; margin-bottom: auto;">

            <!-- temporary message while loading info -->
            <p id="friendship-loading"> Cargando... </p>

            <!-- Usuario loggeado y "user" no son amigos todavia: enviar solicitud -->
            <form th:action="@{/friendship/send_req/__${user.id}__/}" method="POST">
              <button id="friendship-send-button" class="btn btn-primary" style="width: 280px; height: 55px; border-radius: 50px; display: none;" type="submit"> 
                <b>Solicitar amistad</b>
              </button>
            </form>

            <!-- Usuario loggeado ha enviado solicitud a "user": permitir cancelarla -->
            <form th:action="@{/friendship/cancel_req/__${user.id}__/}" method="POST">
              <button id="friendship-request-cancel-button" class="btn btn-danger" style="width: 280px; height: 55px; border-radius: 50px; display: none;" type="submit"> 
                <b>Cancelar solicitud de amistad</b>
              </button>
            </form>

            <!-- "user" ha enviado una solicitud a usuario loggeado: permitir aceptarla -->
            <form th:action="@{/friendship/accept_req/__${user.id}__/}" method="POST">
              <button id="friendship-request-accept-button" class="btn btn-success" 
              style="width: 280px; height: 55px; border-radius: 50px; display: none;" type="submit">
                <b>Aceptar solicitud de amistad</b>
              </button>
            </form>

            <!-- Usuario loggeado y "user" son amigos: permitir acabar la amistad -->
            <form th:action="@{/friendship/finish/__${user.id}__/}" method="POST">
              <button id="friendship-finish-button" class="btn btn-warning" 
              style="width: 280px; height: 55px; border-radius: 50px; display: none;" type="submit">
                <b>Dejar de ser amigos</b>
              </button>
            </form>
          </div>    
          
          <div class="col-8" style="margin-top: auto; margin-bottom: auto; text-align: center;">            
            <form class="card-body text-center d-flex" style="border-radius: 10px; padding: 8px; outline: 3px solid chocolate; background-color: cornsilk;" th:action="@{/user/__${user.id}__/msg}" method="POST">
              <input type="text" id="message" style="width: 90%; text-indent: 10px;" 
              placeholder="Envía un mensaje a este usuario" />
              <button id="sendmsg" style="margin-left: auto; margin-right: auto; width: 50px; height: 50px; border-radius: 50px; background-color: lightcyan;" class="btn btn-secondary ml-2" type="submit">
                <img style="width: 30px; height: 30px;" src="/img/send.png">
              </button>
            </form>            
          </div>
        </div>

      </div>



      <h3>Partidas</h3>

      <table class="table table-light">
        <thead>
          <tr>
            <th>Partida</th>
            <th>Sala</th>
            <th>Resultado</th>
            <th>Participantes</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="matchPlayer: ${matchPlayers}">
            <td th:text="| # ${matchPlayer.match.id} |"></td>
            <td th:text="| ${matchPlayer.match.room.id} |"></td>
            <td th:text="| ${matchPlayer.position} º|"></td>
            <td>
              <a th:each="matchPlayerOthers: ${matchPlayer.match.getMatchPlayers()}" th:href="@{/user/__${matchPlayerOthers.player.id}__}"
                th:text="| ${matchPlayerOthers.player.username} |" style="margin-right: 16px;" ></a>
            </td>
          </tr>
        </tbody>
      </table>

      <span style="display: inline-block; width: 40px; height: 50px;"></span>

      <div id="request-block" th:if="${isOwnProfile}">
        <h3>Solicitudes de amistad recibidas</h3>

        <table class="table table-light" >
          <thead>
            <tr rowspan="1">
              <th colspan="1">Friend Request Id</th>
              <th colspan="1">Sender Id</th>
              <th colspan="1">Sender Username</th>
              <th colspan="1">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="request-row" rowspan="1" th:each="request: ${friendRequests}">
              <td colspan="1" th:text="${request.id}">ID</td>
              <td colspan="1" th:text="${request.user1.id}">Nombre</td>
              <td colspan="1">
                <a th:href="@{/user/__${request.user1.id}__}" th:text="| ${request.user1.username} |"></a>
              </td>
              <td colspan="1">
                <form th:action="@{/friendship/accept_req/__${request.user1.id}__/}" style="display: inline-block;" method="POST">
                  <button id="request-accept-button" class="btn btn-success" type="submit">Aceptar</button>
                </form>
                <form th:action="@{/friendship/reject_req/__${request.user1.id}__/}" style="display: inline-block;" method="POST">
                  <button id="request-reject-button" class="btn btn-danger" type="submit">Rechazar</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 th:if="${isOwnProfile}">Amigos</h3>

      <table th:if="${isOwnProfile}" class="table table-light">
        <thead>
          <tr rowspan="1">
            <th colspan="1">Friend Id</th>
            <th colspan="1">Friend Username</th>
          </tr>
        </thead>
        <tbody>
          <tr rowspan="1" th:each="friendship: ${friendships}">
            <td colspan="1" th:text="${friendship.user2.id}">ID</td>
            <td colspan="1">
              <a th:href="@{/user/__${friendship.user2.id}__}" th:text="| ${friendship.user2.username} |"></a>
            </td>
          </tr>
        </tbody>
      </table>

      <h3>Salas de juego</h3>

      <table class="table table-light">
        <thead>
          <tr rowspan="1">
            <th colspan="1">Room Id</th>
            <th colspan="1">Room Privacy</th>
            <th colspan="1">Room Users</th>
          </tr>
        </thead>
        <tbody>
          <tr rowspan="1" th:each="room: ${rooms}">
            <td colspan="1">
              <a th:href="@{/rooms/__${room.id}__}" th:text="${room.id} |">ID</a>
            </td>
            <td colspan="1" th:text="${room.visibility}">Privacy</td>

            <td th:each="participant: ${room.getUsers()}">
              <a th:href="@{/user/__${participant.id}__}" th:text="| ${participant.username} |"></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </main>

  <th:block th:replace="fragments/footer.html :: footer" />

  <script th:inline="javascript">
    var G_FRIENDSHIP_STATE_URL = [[@{/friendship/state/__${user.id}__/}]];
  </script>

  <script th:if="${not isOwnProfile}">
    document.addEventListener("DOMContentLoaded", () => {

      // envio de mensajes con AJAX
      let b = document.getElementById("sendmsg");
      b.onclick = (e) => {
        e.preventDefault();
        go(b.parentNode.action, 'POST', {
          message: document.getElementById("message").value
        })
          .then(d => console.log("happy", d))
          .catch(e => console.log("sad", e))
          document.getElementById("message").value = ""
      }

      let frLoadingMessage = document.getElementById("friendship-loading");
      let frSendButton = document.getElementById("friendship-send-button");
      let frCancelButton = document.getElementById("friendship-request-cancel-button");
      let frAcceptButton = document.getElementById("friendship-request-accept-button");
      let frFinishButton = document.getElementById("friendship-finish-button");

      function hideAll() {
        frLoadingMessage.style.display = 'none';
        frSendButton.style.display = 'none';
        frCancelButton.style.display = 'none';
        frAcceptButton.style.display = 'none';
        frFinishButton.style.display = 'none';
      }

      // Get friendship status and show corresponding button
      go(G_FRIENDSHIP_STATE_URL, 'POST', {})
        .then(d => {
          hideAll();

          if (d.result === "friends") {
            frFinishButton.style.display = 'inline-block';
          }
          else if (d.result === "request sent") {
            frCancelButton.style.display = 'inline-block';
          }
          else if (d.result === "request received") {
            frAcceptButton.style.display = 'inline-block';
          }
          else {
            frSendButton.style.display = 'inline-block';
          }
        })
        .catch(e => {
          hideAll();
          console.log("Error loading friendship status", e)
        })


      // Accion de frSendButton: envio de solicitudes de amistad
      frSendButton.onclick = (e) => {
        e.preventDefault();
        go(frSendButton.parentNode.action, 'POST', {})
          .then(d => {
            hideAll();
            frCancelButton.style.display = 'inline-block';
          })
          .catch(e => console.log("sad", e))
      }

      // Accion de frCancelButton: cancelar solicitud de amistad enviada
      frCancelButton.onclick = (e) => {
        e.preventDefault();
        go(frCancelButton.parentNode.action, 'POST', {})
          .then(d => {
            hideAll();
            frSendButton.style.display = 'inline-block';
          })
          .catch(e => console.log("sad", e))
      }

      // Accion de frAcceptButton: aceptar solicitud de amistad recibida
      frAcceptButton.onclick = (e) => {
        e.preventDefault();
        go(frAcceptButton.parentNode.action, 'POST', {})
          .then(d => {
            hideAll();
            frFinishButton.style.display = 'inline-block';
          })
          .catch(e => console.log("sad", e))
      }

      // Accion de frFinishButton: eliminar amigo
      frFinishButton.onclick = (e) => {
        e.preventDefault();
        go(frFinishButton.parentNode.action, 'POST', {})
          .then(d => {
            hideAll();
            frSendButton.style.display = 'inline-block';
          })
          .catch(e => console.log("sad", e))
      }

    });

  </script>

  <script th:if="${isOwnProfile}">
    document.addEventListener("DOMContentLoaded", () => {
      // Manejar la seccion de solicitudes recibidas: aceptar o rechazar cada solicitud

      const requestContainer = document.getElementById("request-block");
      var requestRows = document.getElementsByClassName("request-row");       // Una row para cada solicitud

      if(requestRows.length <= 0){
        requestContainer.style.display = 'none';
      }

      for (let i = 0; i < requestRows.length; i++) {
        let row = requestRows[i];

        // Boton de aceptar la solicitud: aceptarla a traves de ayax y ocultar esta row
        let acceptRequestButton = row.querySelector('#request-accept-button');
        acceptRequestButton.onclick = (e) => {
          e.preventDefault();
          go(acceptRequestButton.parentNode.action, 'POST', {})
            .then(d => {
              row.remove();
              // Ocultar row. Si ya no queda ninguna row mas, ocultar la seccion de solicitudes entera
              if (requestRows.length <= 0) {
                requestContainer.style.display = 'none';
              }
            })
            .catch(e => console.log("sad", e))
        }

        // Boton de rechazar la solicitud: rechazarla a traves de ayax y ocultar esta row
        let rejectRequestButton = row.querySelector('#request-reject-button');
        rejectRequestButton.onclick = (e) => {
          e.preventDefault();
          go(rejectRequestButton.parentNode.action, 'POST', {})
            .then(d => {
              row.style.display = 'none';
              // Ocultar row. Si ya no queda ninguna row mas, ocultar la seccion de solicitudes entera
              if (requestRows.length <= 0) {
                requestContainer.style.display = 'none';
              }
            })
            .catch(e => console.log("sad", e))
        }
      }
    });
  </script>
</body>

</html>